<!DOCTYPE html>
<html>
  <head>
    <div class="container">
      <title>Timbuk3</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <nav class="navbar navbar-inverse bg-inverse">
           <%= image_tag "tag.png", :class => 'navbar-brand', :id => 'brand'%>
           <%= link_to "All Products", products_path, :class => 'navbar-brand' %>
           <%= link_to "Add Product", new_product_path, :class => 'navbar-brand' %>

         </nav>

      <%= yield %>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </body>
  </div>
</html>
