<!DOCTYPE html>
<html>
  <head>
    <div class="container">
      <title>Timbuk3</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <%= yield %>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
    </body>
  </div>
</html>
